<!DOCTYPE html>
<html lang="en">

<head> 
<title> Stormtroopers </title>
<!-- 
<script type="text/javascript" src="main.js"> </script>
<link rel="stylesheet" type="text/css" href="main.css"> </link>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body onload="loadDashboard();">
    
<div class="jumbo text-top-left">
    <h1> Stormtroopers </h1>
</div>

<div class="left-container">
    
</div>


</body>

</html>
